<div class="container">
  <h1><%= "Add a movie to #{@list.name}" %></h1>
  <br>
  <%= simple_form_for [ @list, @bookmark ] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <div>
      <p><%= link_to "Back", list_path(@list), class: "btn btn-secondary" %></p>
      <p><%= f.submit "Add movie", class: "btn btn-primary" %></p>
    </div>
  <% end %>
</div>
